.list-books {
	display: flex;
	flex-wrap: wrap;
  justify-content: space-around;
}

.book {
	flex: 0 0 14%;
	text-align: center;
  box-shadow: 3px 3px 5px rgb(0 0 0 / 20%);
  position: relative;
  margin-bottom: 1vw;
}
.book img {
	height: 10vw;
	width: auto;
}

h4 {
	height: 3vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.go-to-search {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #60ac5d;
  background-image: url(add.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
  font-size: 0;
  position: fixed;
  bottom: 2vw;
  right: 2vw;
}

h1 {
  text-align: center;
  font-size: calc(5vw + 1px);
  margin: 0;
  background-color: #60ac5d;
  color: #fff;
  padding-bottom: 1vw;
}

h3 {
  font-size: calc(1.5vw + 1px);
  margin-left: 3vw;
}
p {
  margin: 0;
}
.book-authors {
  height: 5vw;
}

select {
  margin-bottom: 1vw;
}

.shelf {
  border-bottom: 1px solid rgb(0 0 0 / 20%);
  padding: 2vw 1vw;
  margin: 1vw 2vw 1vw;
  box-shadow: 2px 2px 2px rgb(0 0 0 / 20%);
}

select {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.select-wrapper {
  position: absolute;
  right: 1vw;
  top: 8vw;
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  background: #60ac5d;
  background-image: url(arrow-drop-down.4378492a.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
}

/* .select-wrapper::after {
  content: ">";
  transform: rotate(90deg);
  position: absolute;
  font-size: calc(2vw + 1px);
  right: 0.6vw;
  top: 0.3vw;
  color: #fff;
  font-weight: 800;
} */

option {
  background-color: #fff;
  color: initial;
  text-align: left;
  padding: 0;
  margin: 0;
  font-size: calc(1vw + 1px);
  color: #000;

}

.close-search {
  display: block;
  top: 20px;
  left: 15px;
  width: 50px;
  height: 53px;
  background: white;
  background-image: url(arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 28px;
  font-size: 0;
}


.search-books-bar {
  /* position: fixed; */
  width: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  box-shadow: 0 10px 20px rgb(0 0 0 / 19%), 0 0 6px rgb(0 0 0 / 23%);
}

.search-books-bar input {
  width: 100%;
  padding: 15px 10px;
  font-size: 1.25em;
  border: none;
  outline: none;
}

.books-not-found {
  text-align: center;
    margin-top: 3vw;
    font-size: calc(3vw + 1px);
    font-weight: 800;
}