.list-books {
	display: flex;
	flex-wrap: wrap;
}

.book {
	flex: 0 0 20%;
	text-align: center;
}
.book img{
  height: 15vw;
  width: auto;
}

h4 {
  height: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
